<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="css/font-awesome.min.css">
    </head>
    <body>

        <i class="fas fa-file-pdf"></i>
        <a href="/files/download.docx"></a>Download</a>
    </body>
</html> 