.btn-teacher{

    font-weight: 500;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	margin-left: 20px;
	border: 0px solid #11b3e4;
	padding: 3px 15px;
	font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
	line-height: 35px;
	border-radius: 5px;
    color: #07294d;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 5;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    background-color: ##11b3e4;
}

.btn-teacher:hover{
    color: #11b3e4;
    border-color: #07294d;
    background-color: #07294d;
}